<div class="card h-100 shadow-lg border-2 border-info">
  <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body bg-light text-dark text-center">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text text-secondary">{{ product.description }}</p>
    <p class="card-text fw-bolder">$ {{ product.price }}</p>
    <p *ngIf="product.quantity > 0" class="text-success">Available: {{ product.quantity }}</p>
    <p *ngIf="product.quantity === 0" class="text-danger fw-bold">Out of Stock</p>
    <a [routerLink]="['/buy', product.id]" class="btn btn-primary mt-1">Buy</a>
  </div>
</div>
